
#registro-contacto {
  max-width: 2000px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f4f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px #3a03031a;
  font-family: 'Arial', sans-serif;
}

#registro-contacto h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #5c0a0a;
}


#registro-contacto label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}


#registro-contacto input,
#registro-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

#registro-contacto input:focus,
#registro-contacto textarea:focus {
  border-color: #9d9e9f;
  outline: none;
}


#registro-contacto button {
  width: 100%;
  padding: 12px;
  background-color: #3d0707;
  border: none;
  border-radius: 5px;
  color: rgb(252, 245, 245);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#registro-contacto button:hover {
  background-color: #01060a;
}